In [24]:
import datetime

In [25]:
df_base = datetime.datetime.today()

In [26]:
df_base_list = [df_base - datetime.timedelta(days = x) for x in range(0,20)]

In [27]:
df = pd.DataFrame(df_base_list)
df.columns = ['Day']

In [28]:
df

                          Day
0  2021-02-12 20:11:11.032929
1  2021-02-11 20:11:11.032929
2  2021-02-10 20:11:11.032929
3  2021-02-09 20:11:11.032929
4  2021-02-08 20:11:11.032929
5  2021-02-07 20:11:11.032929
6  2021-02-06 20:11:11.032929
7  2021-02-05 20:11:11.032929
8  2021-02-04 20:11:11.032929
9  2021-02-03 20:11:11.032929
10 2021-02-02 20:11:11.032929
11 2021-02-01 20:11:11.032929
12 2021-01-31 20:11:11.032929
13 2021-01-30 20:11:11.032929
14 2021-01-29 20:11:11.032929
15 2021-01-28 20:11:11.032929
16 2021-01-27 20:11:11.032929
17 2021-01-26 20:11:11.032929
18 2021-01-25 20:11:11.032929
19 2021-01-24 20:11:11.032929

In [35]:
df['day_of_week'] = df['Day'].dt.day_name()

In [36]:
df

                          Day day_of_week
0  2021-02-12 20:11:11.032929      Friday
1  2021-02-11 20:11:11.032929    Thursday
2  2021-02-10 20:11:11.032929   Wednesday
3  2021-02-09 20:11:11.032929     Tuesday
4  2021-02-08 20:11:11.032929      Monday
5  2021-02-07 20:11:11.032929      Sunday
6  2021-02-06 20:11:11.032929    Saturday
7  2021-02-05 20:11:11.032929      Friday
8  2021-02-04 20:11:11.032929    Thursday
9  2021-02-03 20:11:11.032929   Wednesday
10 2021-02-02 20:11:11.032929     Tuesday
11 2021-02-01 20:11:11.032929      Monday
12 2021-01-31 20:11:11.032929      Sunday
13 2021-01-30 20:11:11.032929    Saturday
14 2021-01-29 20:11:11.032929      Friday
15 2021-01-28 20:11:11.032929    Thursday
16 2021-01-27 20:11:11.032929   Wednesday
17 2021-01-26 20:11:11.032929     Tuesday
18 2021-01-25 20:11:11.032929      Monday
19 2021-01-24 20:11:11.032929      Sunday

In [38]:
week_no = {
    
    'Monday': "1",
    'Tuesday': "2",
     'Wednesday':"3",
     'Thursday':"4",
      'Friday': "5",
      'Saturday': "6",
       'Sunday': "7"
    
    
}

In [43]:
df['day_ordinal'] = df.day_of_week.map(week_no)

In [44]:
df

                          Day day_of_week day_ordinal
0  2021-02-12 20:11:11.032929      Friday           5
1  2021-02-11 20:11:11.032929    Thursday           4
2  2021-02-10 20:11:11.032929   Wednesday           3
3  2021-02-09 20:11:11.032929     Tuesday           2
4  2021-02-08 20:11:11.032929      Monday           1
5  2021-02-07 20:11:11.032929      Sunday           7
6  2021-02-06 20:11:11.032929    Saturday           6
7  2021-02-05 20:11:11.032929      Friday           5
8  2021-02-04 20:11:11.032929    Thursday           4
9  2021-02-03 20:11:11.032929   Wednesday           3
10 2021-02-02 20:11:11.032929     Tuesday           2
11 2021-02-01 20:11:11.032929      Monday           1
12 2021-01-31 20:11:11.032929      Sunday           7
13 2021-01-30 20:11:11.032929    Saturday           6
14 2021-01-29 20:11:11.032929      Friday           5
15 2021-01-28 20:11:11.032929    Thursday           4
16 2021-01-27 20:11:11.032929   Wednesday           3
17 2021-01-26 20:11:11.032929     Tuesday           2
18 2021-01-25 20:11:11.032929      Monday           1
19 2021-01-24 20:11:11.032929      Sunday           7